<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用v-model指令实现简易计算器</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="n1" @change="calc">
    <select v-model="opt" @change="calc">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="text" v-model="n2" @change="calc">
    <input type="button" value="=" @click="calc">
    <input type="text" v-model="ans">
</div>
<script src="../js/vue.js"></script>
<script>
    new Vue({
        el:'#app', //element
        data:{
            n1:0,
            n2:0,
            ans:0,
            opt:'+'
        },
        methods:{
            calc(){
                switch (this.opt) {
                    case "+":
                        this.ans=parseInt(this.n1)+parseInt(this.n2);
                        break;
                    case "-":
                        this.ans=parseInt(this.n1)-parseInt(this.n2);
                        break;
                    case "*":
                        this.ans=parseInt(this.n1)*parseInt(this.n2);
                        break;
                    case "/":
                        this.ans=parseInt(this.n1)/parseInt(this.n2);
                        break;
                }
            }
        }
    });
</script>
</body>
</html>
